.pixelgrade{
    padding: 48px 0;

}

.pixel-wrapper{
    display: flex;
    justify-content: space-between;
}

.pixel-wrapper .text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pixel-wrapper .text-area h2{
    font-family: var(--primary-ff);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #4D4D4D;
    width: 601px;
    margin-bottom: 16px;
}

.pixel-wrapper .text-area p{
    font-family: var(--primary-ff);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #717171;
    width: 601px;
    margin-bottom: 32px;
}
